In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime as dt
import itertools as it

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
802,tt0471042,75000000,152930623,Tower Heist,Ben Stiller|Eddie Murphy|Casey Affleck|Alan Al...,Brett Ratner,Ordinary guys. An extraordinary robbery.,A luxury condo manager leads a staff of worker...,104,Action|Comedy,Universal Pictures|Image Entertainment|Relativ...,11/2/2011,5.8,2011
491,tt1320239,10000000,4349187,Burke & Hare,Simon Pegg|Andy Serkis|Isla Fisher|Tom Wilkins...,John Landis,No Job Too Small. No Body Too Big. No Question...,"Two 19th-century opportunists (Simon Pegg, And...",91,Comedy|Thriller,Ealing Studios|Fragile Films|Quickfire Films|P...,10/29/2010,6.0,2010
1869,tt0211181,85000000,183611771,102 Dalmatians,Glenn Close|Ioan Gruffudd|Alice Evans|Tim McIn...,Kevin Lima,Meet Two Unlikely Heroes With A Bone To Pick.,Get ready for a howling good time as an all ne...,100,Comedy|Family,Walt Disney Pictures|Cruella Productions,10/7/2000,5.0,2000
800,tt1268799,19000000,35387212,A Very Harold & Kumar Christmas,Neil Patrick Harris|John Cho|Elias Koteas|Dann...,Todd Strauss-Schulson,Christmas comes prematurely.,"Six years have elapsed since Guantanamo Bay, l...",108,Comedy,New Line Cinema|Mandate Pictures,11/4/2011,6.0,2011
297,tt0929632,10000000,63647833,Precious,Gabourey Sidibe|Mo'Nique|Paula Patton|Mariah C...,Lee Daniels,Life is hard. Life is short. Life is painful. ...,"Set in Harlem in 1987, claireece ""Precious"" Jo...",110,Drama,Smokewood Entertainment Group,11/6/2009,6.8,2009

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

#Создаем столбец profit
data['profit'] = data['revenue'] - data['budget']
data.info()

#Переформатируем в даты столбец с датами выхода
data.release_date = pd.to_datetime(data.release_date)

#Создаем столбец с месяцами выхода фильмов
data['release_month'] = data.release_date.dt.month

#Создаем столбец с длиной названия
data['title_length'] = data['original_title'].map(lambda x: len(x))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 221.5+ KB

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
#фильтр столбца <бюджет> по максимальному значению накладывается на столбец с названиями фильмов
res_1 = data.original_title[data.budget==data.budget.max()]
res_1[723]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' #+

In [8]:
#фильтр столбца <длительность> по максимальному значению накладывается на столбец с названиями фильмов
res_2 = data.original_title[data.runtime==data.runtime.max()] 
res_2[1157]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = 'Winnie the Pooh (tt1449283)' #+

In [10]:
#фильтр столбца <длительность> по минимальному значению накладывается на столбец с названиями фильмов
res_3 = data.original_title[data.runtime==data.runtime.min()]
res_3[768]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '110' #+

In [12]:
#выводим среднее значение длительности по всему датасету
mean_runtime = round(data.runtime.mean())
mean_runtime

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '107' #+

In [14]:
median_runtime = round(data.runtime.median())
median_runtime

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
answers['6'] = 'Avatar' #+

In [16]:
res_6 = data.original_title[data.profit==data.profit.max()]
res_6[239]

'Avatar'

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = 'The Lone Ranger' #+

In [18]:
#фильтр столбца <прибыль> по минимальному значению накладывается на столбец с названиями фильмов
res_7 = data.original_title[data.profit==data.profit.min()]
res_7[1245]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1478' #+

In [20]:
#фильтруем датасет по прибыли больше нуля (объем сборов больше бюджета) и считаем количество строк
res_8 = len(data[data.profit>0])
res_8

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = 'The Dark Knight' #+

In [22]:
#создаем датасет с фильмами 2008 года
mov_2008 = data[data.release_year == 2008]

#фильтр столбца <прибыль> по максимальному значению накладывается на столбец с названиями фильмов
res_9 = mov_2008.original_title[mov_2008.profit == mov_2008.profit.max()]
res_9

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
answers['10'] = 'The Lone Ranger' #+

In [24]:
#создаем датасет с фильмами 2012 - 2014 годов
mov_period = data[(data.release_year>=2012)&(data.release_year<=2014)]

#фильтр столбца <прибыль> по минимальному значению накладывается на столбец с названиями фильмов
res_10 = mov_period.original_title[mov_period.profit == mov_period.profit.min()]
res_10[1245]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [25]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [26]:
answers['11'] = 'Drama' #+

ВАРИАНТ 1

In [27]:
#создаем серию с перечислением жанров
unique_genres = pd.Series(data['genres'].str.cat(sep='|').split('|'))

#подсчитываем частотность упоминания жанра и сортируем по убыванию, выводим верхнюю строчку
unique_genres.value_counts(ascending=False).head(1)

Drama    782
dtype: int64

ВАРИАНТ 2

In [28]:
#создаем серию с перечислением жанров и применяем метод моды
unique_genres = pd.Series(data['genres'].str.cat(sep='|').split('|')).mode()
display(unique_genres[0])

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = 'Drama' #+

ВАРИАНТ 1

In [30]:
#создаем копию датасета
data_genres = data.copy()
#серия с перечислением жанров
data_genres.genres = data_genres.genres.str.split('|')
#применяем метод EXPLODE, чтобы создать датасет по каждому конкретному вхождению жанра
data_genres = data_genres.explode('genres')
#фильтруем по прибыли и выводим моду
res_12 = data_genres.genres[data_genres.profit > 0].mode()
res_12

0    Drama
dtype: object

ВАРИАНТ 2

In [31]:
#фильтруем по прибыли и подсчитываем частотность упоминаний, выводим первую строку
res_12_a = data_genres.genres[data_genres.profit > 0].value_counts(0).head(1)
res_12_a

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
answers['13'] = 'Peter Jackson' #+

In [33]:
#создаем копию датасета
data_dir = data.copy()
#создаем серию с перечислением режиссеров
data_dir.director = data_dir.director.str.split('|')
#применяем метод EXPLODE, чтобы создать датасет по каждому конкретному вхождению имени режиссера
data_dir = data_dir.explode('director')
#находим суммарные кассовые сборы по столбцу <прибыль> и фильтруем по убыванию, выводим первую строку
res_13 = data_dir.groupby('director').sum().sort_values('profit',ascending=False).head(1)
res_13

,budget,revenue,runtime,vote_average,release_year,profit,release_month,title_length
director,,,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685,95,265

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
answers['14'] = 'Robert Rodriguez' #+

In [35]:
#создаем копию датасета
data_act = data.copy()
#создаем датасет с фильмами в стиле Action
data_act = data_act[data_act.genres.str.contains('Action')]
#создаем серию с перечислением режиссеров
data_act.director = data_act.director.str.split('|')
#применяем метод EXPLODE, чтобы создать датасет по каждому конкретному вхождению имени режиссера
data_act = data_act.explode('director')
#выводим моду по столбцу с режиссерами
res_14 = data_act.director.mode()
res_14

0    Robert Rodriguez
dtype: object

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
answers['15'] = 'Chris Hemsworth' #+

In [37]:
#создаем копию датасета
data_revmax = data.copy()
#создаем датасет с фильмами 2012 года и прибылью выше среднего
data_revmax = data_revmax[(data_revmax.release_year==2012)&
                                (data_revmax.revenue>data_revmax.profit.mean())]
#создаем серию с перечислением актеров
data_revmax.cast = data_revmax.cast.str.split('|')
#применяем метод EXPLODE, чтобы создать датасет по каждому конкретному вхождению имени актера
data_revmax = data_revmax.explode('cast')
#группируем датасет по актерам и сумме прибыли, сортируем по убыванию
res_15 = data_revmax.groupby('cast').sum().sort_values('revenue', ascending=False).iloc[0]
res_15

budget           3.900000e+08
revenue          1.916158e+09
runtime          2.700000e+02
vote_average     1.300000e+01
release_year     4.024000e+03
profit           1.526158e+09
release_month    9.000000e+00
title_length     3.900000e+01
Name: Chris Hemsworth, dtype: float64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
answers['16'] = 'Matt Damon' #+

In [39]:
#создаем копию датасета
data_budmax = data.copy()
#создаем датасет с фильмами с бюджетом выше среднего
data_budmax = data_budmax[data_budmax.budget>data_budmax.budget.mean()]
#создаем серию с перечислением актеров
data_budmax.cast = data_budmax.cast.str.split('|')
#применяем метод EXPLODE, чтобы создать датасет по каждому конкретному вхождению имени актера
data_budmax = data_budmax.explode('cast')
#находим моду
res_16 = data_budmax.cast.mode()
res_16

0    Matt Damon
dtype: object

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
answers['17'] = 'Action' #+

In [41]:
#создаем копию датасета
NC = data.copy()
#создаем датасет с фильмами с участием Nicolas Cage
NC = NC[NC.cast.str.contains('Nicolas Cage')]
#создаем серию с перечислением жанров
NC.genres = NC.genres.str.split('|')
#применяем метод EXPLODE, чтобы создать датасет по каждому конкретному вхождению жанра
NC = NC.explode('genres')
#вычисляем частотность жанра и сортируем ее по убыванию
res_17 = NC.genres.value_counts(ascending=False).head(1)
res_17

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
answers['18'] = 'K-19: The Widowmaker' #+

In [43]:
#создаем копию датасета
PP = data.copy()
#создаем датасет с фильмами от Paramount Pictures
PP = PP[PP.production_companies.str.contains('Paramount Pictures')]
#фильтр столбца <прибыль> по минимальному значению накладывается на столбец с названиями фильмов
res_18 = PP.original_title[PP.profit == PP.profit.min()]
res_18

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
answers['19'] = '2015' #+

In [45]:
#создаем копию датасета
year_rev = data.copy()
#группируем года по суммарной прибыли, сортируем по убыванию, выводим первую строку
res_19 = year_rev.groupby('release_year').sum().sort_values('revenue', ascending=False).head(1)
res_19

,budget,revenue,runtime,vote_average,profit,release_month,title_length
release_year,,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,842,1601

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
answers['20'] = '2014' #+

In [47]:
#создаем копию датасета
WB = data.copy()
#создаем датасет с фильмами от Warner Bros
WB = WB[WB.production_companies.str.contains('Warner Bros')]
#группируем года по суммарной прибыли, сортируем по убыванию, выводим первую строку
res_20 = WB.groupby('release_year').sum().sort_values('revenue', ascending=False).head(1)
res_20

,budget,revenue,runtime,vote_average,profit,release_month,title_length
release_year,,,,,,,
2014,947600000,3243064519,1576,88.9,2295464519,89,176

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
answers['21'] = 'Сентябрь' #+

In [49]:
#подсчитываем частотность по каждому месяцу, выводим верхнюю строку
res_21 = data.release_month.value_counts(ascending=False).head(1)
res_21

9    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
answers['22'] = '450' #+

In [66]:
#создаем датасет с летними фильмами
summer_movies = data[data.release_month.isin([6, 7, 8])]
#подсчитываем количество строк в датасете
res_22 = len(summer_movies)
res_22

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
answers['23'] = 'Peter Jackson' #+

In [53]:
#создаем копию датасета
winter_movies = data.copy()
#датасет с зимними фильмами
winter_movies = winter_movies[winter_movies.release_month.isin([12, 1, 2])] 
#создаем серию с перечислением режиссеров
winter_movies.director = winter_movies.director.str.split('|')
#применяем метод EXPLODE, чтобы создать датасет по каждому конкретному вхождению жанра
winter_movies = winter_movies.explode('director')
#находим моду
res_23 = winter_movies.director.mode()
res_23

0    Peter Jackson
dtype: object

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
answers['24'] = 'Four By Two Productions' #+

In [55]:
#серия уникальных названий компаний
companies = data['production_companies'].str.split('|').explode().unique()
#средние значения длины названия
mean_length = pd.Series(dtype='float64', index=companies) 
#функция средней длины названия по компаниям
for comp in companies:
    mean_length[comp] = data['title_length'][data['production_companies'].map(lambda x: 
                                                                              True if comp in x else False)].mean()
#сортировка значений по убыванию, вывод первой строки
mean_length.sort_values(ascending=False).head(1)

Four By Two Productions    83.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
answers['25'] = 'Midnight Picture Show' #+

In [57]:
#создаем копию датасета
overview = data.copy()
#создаем столбец с подсчетом количества слов в обзоре
overview['overview_length'] = overview['overview'].str.split(' ').str.len()
#серия уникальных названий компаний
overview.production_companies = overview.production_companies.str.split('|')
#применяем метод EXPLODE, чтобы создать датасет по каждому конкретному вхождению компании
overview = overview.explode('production_companies')
#группировка компаний по средней длине обзора и вывод максимума
res_25 = overview.groupby('production_companies')['overview_length'].mean().idxmax()
res_25

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [58]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #+

In [59]:
#создаем копию датасета
best_rating = data.copy()
#сортируем рейтинги по перцентилям, выводим названия фильмов
res_26 = best_rating[(best_rating['vote_average'] > np.percentile(best_rating['vote_average'],99))].original_title
res_26

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [60]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' #+

In [61]:
#создаем копию датасета
cast_pairs = data.copy()
#серия уникальных актеров
cast_pairs['cast'] = cast_pairs.cast.str.split('|')
#создаем серию с уникальными парами по каждому актеру
cast_pairs.cast = cast_pairs.cast.apply(lambda x: list(it.combinations(x, 2)))
#применяем метод EXPLODE и выводим моду
res_27 = cast_pairs.explode('cast').cast.mode()
res_27

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
dtype: object

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27